/test/build/test.build/Release-iphoneos/test.build/dgph
/test/build/test.build/Release-iphoneos/test.build/test-all-non-framework-target-headers.hmap
/test/build/test.build/Release-iphoneos/test.build/test.app.xcent